html {
	background-color:#cccccc;
}
body {
	color: #444444;
	font-family: "Helvetica Neue", "open sans", Arial, sans-serif;
	font-size: 16px;
	background-color:#cccccc;
	margin: 0px 0px 0px 0px;

	animation-name:dim;
	animation-duration:2s;
	animation-timing-function:linear;
	animation-iteration-count:1;
	/* Safari and Chrome: */
	-webkit-animation-name:dim;
	-webkit-animation-duration:2s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count:1;
	position: relative;
}

@keyframes dim {
	0%   {background:white;}
	100% {background:#cccccc;}
}

@-webkit-keyframes dim {
	0%   {background:white;}
	100% {background:#cccccc;}
}

br {
	font-size: 16px;
}

h1 {
	font-family: Impact, Verdana, "Arial Black", sans-serif;
	font-size: 20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

h2 {
	font-family: Impact, Verdana, "Arial Black", sans-serif;
	font-size: 20px;
	padding: 0px 15px 0px 15px;
}

p {
	font-size: 16px;
	padding: 0px 18px 0px 18px;
}

.big-window {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 510px;
	width: 510px;
	margin-top: -255px;
	margin-left: -255px;
	padding: 11px 11px 11px 11px;
	background-color: white;
	border-radius: 3px;
	z-index: 1;
	font-size: 0px;	

	transition: top 1s ease-out, left 1s ease-in;
	-webkit-transition: top 1s ease-out, left 1s ease-in;
}

#about-view {
	display: none;
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px) {
    .big-window {
    	top: 50px;
    	left: 0px;
    	margin-top: 0px;
		margin-left: 0px;
		z-index: 0;

		transition: top 1s ease-in, left 1s ease-out;
		-webkit-transition: top 1s ease-in, left 1s ease-out;
    }

    body {
    	animation-duration:0s;
		-webkit-animation-duration:0s;
    }
}


@media only screen and (max-width: 570px), only screen and (max-device-width: 570px), only screen and (max-width: 900px) and (max-height: 582px), only screen and (max-device-width: 900px) and (max-height: 582px) {
    .big-window {
    	position: static;
    	width: 340px;
    	height: 680px;
    	margin:50px auto 0px auto;
    }

    .about-window {
    	display: none !important;
    }

    #portal-view {
    	margin-top: 90px;
    }

    #about-view {
    	height: auto;
    	padding-bottom: 30px !important;
    	display: block;
    	margin-bottom: 50px !important;
    }
}

/*@media only screen and (max-width: 362px), only screen and (max-device-width: 362px) {*/
@media only screen and (max-width: 362px), only screen and (max-device-width: 362px) {
    .big-window {
    	width:90%;
    }

    #portal-view {
    	height:0px;
    	padding-bottom:185%;
    }

    .window {
    	width: 42% !important;
    	margin: 4% 4% 4% 4% !important;
    	height: 0px !important;
    	padding-bottom: 42% !important;
    }
}

.window {
	width: 150px;
	height: 150px;
	margin: 10px 10px 10px 10px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	border-radius: 3px;
	border: 0px;
}

.window img {
	min-height: 100%;
	max-height: 100%;
}

.window:hover > .category-title {
	font-size: 24px;
}

.about-window {
	font-family: Impact, Verdana, "Arial Black", sans-serif;
	font-size: 16px;
	background-color: #111111;
	color: white;
	text-decoration: none;
	transition: background-color 0.3s, font-size 0.3s ease-out;
	-webkit-transition: background-color 0.3s, font-size 0.3s ease-out;
	-moz-transition: background-color 0.3s, font-size 0.3s ease-out;
	-ms-transition: background-color 0.3s, font-size 0.3s ease-out;
	-o-transition: background-color 0.3s, font-size 0.3s ease-out;
	text-align: right;
	
	position: absolute;
	display: block;
	bottom: 11px;
	right: 11px;
}

.back-window {
	text-align: left;
}

a {
	color: #2A6EFF;
	text-decoration: none;
}

a:hover {
	color: #0051FF;
	text-decoration: underline;
}

a:active {
	color: #FF8800;
}

.about-window:hover {
	background-color: #2A6EFF;
	font-size: 24px;
	cursor: pointer;
}

.category-title {
	font-family: Impact, Verdana, "Arial Black", sans-serif;
	font-size: 16px;
	position: absolute;
	padding: 0px 2px 0px 2px;
	z-index: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	transition: font-size 0.3s ease-out;
	-webkit-transition: font-size 0.3s ease-out;
	-moz-transition: font-size 0.3s ease-out;
	-ms-transition: font-size 0.3s ease-out;
	-o-transition: font-size 0.3s ease-out;
}

.right {
	right: 0px;
}

.bottom {
	bottom: 0px;
}

.white {
	color: white;
}
