{% extends "main.html" %}

{% block content%}

<div id="portal-view" class="big-window">
	<div class="window">
		<span class="category-title right">drawing</span>
		<a href="http://tamumu61.deviantart.com/gallery/1445428" target="_blank">
			<img src="http://th09.deviantart.net/fs70/200H/i/2012/248/3/7/lightning_by_tamumu61-d5do8wh.jpg" 
			onmouseover="this.src='http://th03.deviantart.net/fs50/200H/f/2009/299/2/3/Jack_Sparrow_by_tamumu61.jpg'"
			onmouseout="this.src='http://th09.deviantart.net/fs70/200H/i/2012/248/3/7/lightning_by_tamumu61-d5do8wh.jpg'"/>
		</a>
	</div>
	<div class="window">
		<span class="category-title bottom white">sketch</span>
		<a href="http://tamumu61.deviantart.com/gallery/47902601" target="_blank">				
			<img src="http://th05.deviantart.net/fs70/200H/f/2014/030/b/5/numazu_port_by_tamumu61-d74bjxv.jpg"
			onmouseover="this.src='http://th07.deviantart.net/fs71/200H/f/2014/030/2/b/kauai_by_tamumu61-d74bjxk.jpg'"
			onmouseout="this.src='http://th05.deviantart.net/fs70/200H/f/2014/030/b/5/numazu_port_by_tamumu61-d74bjxv.jpg'"/>
		</a>
	</div>
	<div class="window">
		<span class="category-title right white">photo</span>
		<a href="http://tamumu61.deviantart.com/gallery/934823" target="_blank">
			<img src="http://th02.deviantart.net/fs71/200H/i/2014/030/f/4/clarity_by_tamumu61-d74gehm.jpg"
			onmouseover="this.src='http://th04.deviantart.net/fs71/200H/f/2014/029/d/1/sunset_at_princeville_by_tamumu61-d74bnkv.jpg'"
			onmouseout="this.src='http://th02.deviantart.net/fs71/200H/i/2014/030/f/4/clarity_by_tamumu61-d74gehm.jpg'"/>
		</a>
	</div>
	<div class="window">
		<span class="category-title right white">nail art</span>
		<a href="http://tamumu61.deviantart.com/gallery/47922013" target="_blank">
			<img src="http://th08.deviantart.net/fs71/200H/i/2014/030/c/5/abstract_by_tamumu61-d74glbk.jpg"
			onmouseover="this.src='http://th08.deviantart.net/fs70/200H/i/2014/030/d/e/modern_by_tamumu61-d74gl3w.jpg'"
			onmouseout="this.src='http://th08.deviantart.net/fs71/200H/i/2014/030/c/5/abstract_by_tamumu61-d74glbk.jpg'"/>
		</a>
	</div>
	<div class="window">
		<span class="category-title bottom">design</span>
		<a href="http://tamumu61.deviantart.com/gallery/935207" target="_blank">
			<img src="http://th01.deviantart.net/fs70/200H/i/2014/041/2/8/circle_saver_by_tamumu61-d75x1rx.png"
			onmouseover="this.src='http://th09.deviantart.net/fs23/200H/i/2008/025/c/5/Look_In_by_tamumu61.jpg'"
			onmouseout="this.src='http://th01.deviantart.net/fs70/200H/i/2014/041/2/8/circle_saver_by_tamumu61-d75x1rx.png'"/>
		</a>
	</div>
	<div class="window">
		<span class="category-title right black">blender</span>
		<a href="http://tamumu61.deviantart.com/gallery/47922006" target="_blank">
			<img src="http://th08.deviantart.net/fs70/200H/f/2014/030/9/e/vase_by_tamumu61-d74gb1n.jpg"
			onmouseover="this.src='http://th00.deviantart.net/fs70/200H/f/2014/032/f/6/landscape_by_tamumu61-d74o8bp.jpg'"
			onmouseout="this.src='http://th08.deviantart.net/fs70/200H/f/2014/030/9/e/vase_by_tamumu61-d74gb1n.jpg'"/>
		</a>
	</div>
	<div class="window">
		<span class="category-title right">graffiti</span>
		<a href="http://tamumu61.deviantart.com/gallery/934826" target="_blank">
			<img src="http://fc06.deviantart.net/fs70/f/2014/032/3/5/eye_design_by_tamumu61-d74o1vb.png"
			onmouseover="this.src='http://fc05.deviantart.net/fs24/f/2008/026/b/d/Snow_Play_by_tamumu61.png'"
			onmouseout="this.src='http://fc06.deviantart.net/fs70/f/2014/032/3/5/eye_design_by_tamumu61-d74o1vb.png'"/>
		</a>
	</div>
	<div class="window">
		<span class="category-title bottom">craft</span>
		<a href="http://tamumu61.deviantart.com/gallery/47925478" target="_blank">
			<img src="http://th04.deviantart.net/fs71/200H/f/2014/030/7/d/angry_bird___pig_by_tamumu61-d74ghap.jpg"
			onmouseover="this.src='http://fc00.deviantart.net/fs70/f/2014/032/3/4/hayabusa_by_tamumu61-d74qagt.jpg'"
			onmouseout="this.src='http://th04.deviantart.net/fs71/200H/f/2014/030/7/d/angry_bird___pig_by_tamumu61-d74ghap.jpg'"/>
		</a>
	</div>
	<div class="window about-window" onclick="show_about_view('block')">
		<span style="padding-right:2px">about</span>
	</div>
</div>

<div id="about-view" class="big-window">
	<br>
	<br>
	<h2>about:tamumu</h2>
	<p>
	This is an attempt at updating my familiarity with html/css, which I first got exposed to in 2002 (wow, <a href="http://web1.caryacademy.org/facultywebs/gray_rushin/StudentProjects/CompoundWebSites/2002/SodiumCyanide/default.htm" target="_blank">it's still there</a>!), back when frames were cool. Needless to say, I have a ton of catch up to do, but I'm hoping that my non-web engineering experiences will help me along the way. 
	</p>

	<p>At the same time, it's been a good motivator to update my "portfolio" of a wide variety of "artwork" I've collected over the times. It's all over the place in terms of quality, media, and age!
	</p>

	<p>
	This site is merely a portal right now, so it's just linking to folders on my deviantART <a href="http://tamumu61.deviantart.com/gallery/" target="_blank">gallery</a>, which by the way, is a bit painful to navigate. There will be a day when all that stuff will be presented neatly on this site...
	</p>

	<p>'Til then,</p>
	<br>
	<p>y</p>
	
	<div class="window about-window back-window" onclick="show_about_view('none')">
		<span style="padding-left:2px">back</span>
	</div>
</div>

{% endblock %}